{% extends "generator_base.html" %}

{% block title %}Caveat → activities → {{ event.title|striptags  }}{% endblock %}

{% if event.image %}
  {% block sidebar_image %}{{ event.image }}{% endblock %}
{% endif %}

{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../activities.html">Activities</a></li>
      <li>{{ event.title }}</li>
    </ul>
  </nav>
  <h1>{{ event }}</h1>
  <section class="info">
    <time>{{ event.date }}</time>
    <p>
      {% if event.time.value %}
        {{ event.time }}<br />
      {% endif %}
      {% if event.location.value %}
        {{ event.location }}<br />
      {% endif %}
      {% if event.address.value %}
        {% for addressline in event.address.value %}
          {{ addressline }}<br />
        {% endfor %}
      {% endif %}
    </p>
    {% if event.participant or event.produser %}
    <h4>Participants</h4>
    <p>
      {% for produser in event.produser.targets %}
      <a href="{{ produser.link }}" class="produser">{{ produser }}</a>
      {% endfor %}
      {% for produser in event.produser.targets %}
      <a href="{{ produser.link }}" class="produser">
        {{ produser }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>
    {% endif %}
  </section>
  {{ event.summary }}
  {{ event.content }}
  {% if event.notes %}
  <h4>Related documents</h4>
  <ul class="simplelist">
    {% for note in event.notes.targets %}
    <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}