{% extends "generator_base.html" %}

{% block title %}Caveat → activities → {{ event.title }}{% endblock %}

{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../activities.html">Activities</a></li>
      <li>{{ event.title }}</li>
    </ul>
  </nav>
  <h1>{{ event }}</h1>
  <section class="info">
    <time datetime="2019-05-24">{{ event.date }}</time>
    <p>
      {{ event.location }}<br />
      {% if event.address %}
        {% for addressline in event.address %}
          {{ addressline }}<br />
        {% endfor %}
      {% endif %}
    </p>
    <p class="event-infos">
      {% for produser in event.produser %}
      <a href="{{ produser.link }}" class="produser">{{ produser }}</a>
      {% endfor %}
    </p>
  </section>
  {{ event.summary }}
  {{ event.content }}
  {% if event.notes %}
  <h2>Attached notes</h2>
  <p>Read more about this event</p>
  <ul>
    {% for note in event.notes %}
    <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}