{% extends "generator_base_two_columns.html" %}

{% block title %}Caveat → activities → {{ event.title|striptags  }}{% endblock %}

{% if event.image %}
  {% block sidebar_image %}{{ event.image }}{% endblock %}
{% endif %}

{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../activities.html">Activities</a></li>
      <li>{{ event.title }}</li>
    </ul>
  </nav>
  <h1>{{ event }}</h1>
  <section class="info">
    <time datetime="2019-05-24">{{ event.date }}</time>
    <p>
      {{ event.location }}<br />
      {% if event.address %}
        {% for addressline in event.address %}
          {{ addressline }}<br />
        {% endfor %}
      {% endif %}
    </p>
    <p class="event-infos">
      {% for produser in event.produser %}
      <a href="{{ produser.link }}" class="produser">{{ produser }}</a>
      {% endfor %}
    </p>
  </section>
  {{ event.summary }}
  {{ event.content }}
  {% if event.notes %}
  <h2>Attached notes</h2>
  <p>Read more about this event</p>
  <ul>
    {% for note in event.notes %}
    <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}

{% block sidebar %}
  <ul class="programme-item-list">
    {% for item in event.programmeItems %}
      <li>
        {{ item.time }} {{ item.title }}
        <p class="event-infos"> 
          {% for produser in item.produser %}
          <a href="{{ produser.link }}" class="produser">{{ produser }}</a>
          {% endfor %}
        </p>
        <p>
          {{ item.content }}
        </p>
        {% if item.notes %}
        <h2>Attached notes</h2>
        <p>Read more about this event</p>
        <ul>
          {% for note in item.notes %}
          <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}