{% extends "generator_base_two_columns.html" %}
{% load generator_utils %}

{% block title %}Caveat → activities → {{ event.title|striptags  }}{% endblock %}

{% if event.image %}
  {% block sidebar_image %}{{ event.image }}{% endblock %}
{% endif %}

{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../activities.html">Activities</a></li>
      <li>{{ event.title }}</li>
    </ul>
  </nav>
  <h1>{{ event }}</h1>
  <section class="info">
    <time datetime="2019-05-24">{{ event.date }}</time>
    <p>
      {{ event.location }}<br />
      {% if event.address %}
        {% for addressline in event.address %}
          {{ addressline }}<br />
        {% endfor %}
      {% endif %}
    </p>
    {% if event.participant or event.produser %}
    <h4>Participants</h4>
    <p>
      {% for produser in event.produser.targets %}
      <a href="{{ produser.link }}" class="produser">{{ produser }}</a>
      {% endfor %}
      {% for produser in event.produser.targets %}
      <a href="{{ produser.link }}" class="produser">
        {{ produser }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>
    {% endif %}
  </section>
  {{ event.summary }}
  {{ event.content }}
  {% if event.notes %}
  <h4>Related documents</h4>
  <ul class="simplelist">
    {% for note in event.notes.targets %}
    <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}

{% block sidebar-class %}programme-items{% endblock %}

{% block sidebar %}
  <ul class="programme-item-list">
    {% for date, events in groupedProgrammeItems %}
      <li class="list-header">
        <h3>{{ date }}</h3>
      </li>
      {% for item in events %}
        <li id="{{ item.key }}">
          <h2>{{ item.time }} {{ item }}</h2>
          <p class="event-infos"> 
            {% for produser in item.produser|link_target_iterator %}
            <a href="{{ produser.link }}" class="produser">{{ produser }}</a>
            {% endfor %}
          </p>
          {% if item.summary %}
            {{ item.summary }}
          {% else %}
            {{ item.content }}
          {% endif %}
          {% if item.notes %}
          <h4>Related documents</h4>
          <ul class="simplelist">
            {% for note in item.notes|link_target_iterator %}
            <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
      {% if item.participant or item.produser %}
      <h4>Participants</h4>
      <p>
        {% for produser in item.participant %}
        <a href="{{ produser.link }}" class="produser">
            {{ produser }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        {% for produser in item.participant %}
        <a href="{{ produser.link }}" class="produser">
          {{ produser }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}