{% extends "generator_base.html" %}
{% load generator_utils %}
{% block title %}Caveat → Produsers → {% if produser.name %}{{ produser.name|striptags  }}{% else %}{{ produser.produser|striptags }}{% endif %}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../produsers.html">Produsers</a></li>
      <li>{% if produser.name %}{{ produser.name }}{% else %}{{ produser.produser }}{% endif %}</li>
    </ul>
  </nav>
  <h1 class="produser">{% if produser.name %}{{ produser.name }}{% else %}{{ produser.produser }}{% endif %}</h1>
  {% if produser.trajectories %}
    {% for trajectory in produser.trajectories.targets %}
      <section class="long-text">
        <h2>Trajectory</h2>
        {{ trajectory.content }}
      </section>
    {% endfor %}
  {% endif %}
  
  {% if produser.content %}
    <section class="long-text">
      <h2>Biography</h2>
      {{ produser.content }}
    </section>
  {% endif %}
  
  {% if produser.events and produser.events.targets %}
    <h2>Activities</h2>
    <ul class="simplelist">
      {% for event in produser.events.targets %}
      <li>
        <section class="event-preview">
          <a href="{{ event.link }}">{{ event }}</a>
          {{ event.summary }}
        </section>
      </li> 
      {% endfor %}
    </ul>
  {% endif %}

  {% if produser.bibliography and produser.bibliography.targets %}
    <h2>Bibliography</h2>
    <ul class="simplelist">
      {% for entry in produser.bibliography.targets %}
        <li>{{ entry }}</li>
      {% endfor %}   
    </ul>
  {% endif %}

  {% if produser.video %}
    <h2>Video</h2>
    <ul class="simplelist">
      {% for video in produser.video.targets %}
        <li>
          <video controls>
            <source type="{{ video.type }}" src="{{ video.video }}">
          </video>
        </li>
      {% endfor %}   
    </ul>
  {% endif %}

  {% if produser.audio %}
    <h2>Audio</h2>
    <ul class="simplelist">
      {% for audio in produser.audio.targets %}
        <li>
          <audio controls>
            <source type="{{ audio.type }}" src="{{ audio.audio }}">
          </audio>
        </li>
      {% endfor %}   
    </ul>
  {% endif %}

  {% if produser.notes %}
  <h2>Notes</h2>
  <ul class="simplelist">
    {% for note in produser.notes.targets %}
      <li>
        <a href="{{ note.link }}" class="note">{{ note }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  
  {% if produser.reflections %}
  <h2>Reflections</h2>
  <ul class="simplelist">
    {% for reflection in produser.reflections.targets %}
      <li>
        <a href="{{ reflection.link }}" class="reflection">{{ reflection }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if produser.events_participant %}
  <h2>Activities (participant)</h2>
  <ul class="simplelist">
    {% for event in produser.events_participant.targets %}
    <li>
      <section class="event-preview">
        <a href="{{ event.link }}">{{ event }}</a>
        {{ event.summary }}
      </section>
    </li> 
    {% endfor %}
  </ul>
  
  {% if produser.notes_participant %}
  <h2>Notes (participant)</h2>
  <ul class="simplelist">
    {% for note in produser.notes_participant.targets %}
      <li>
        <a href="{{ note.link }}" class="note">{{ note }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endif %}
  
{% endblock %}