{% extends "generator_base.html" %}

{% block title %}Caveat → Trajectories → Reflections → {{ reflection.title|striptags }}{% endblock %}

{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../trajectories.html">Trajectories</a></li>
      <li><a href="../trajectories.html#reflections">Reflections</a></li>
      <li>{{ reflection.title }}</li>
    </ul>
  </nav>
  <section class="long-text">
    <h1>{{ reflection.title }}</h1>
    {% with item=reflection %}{% include "snippets/metadata.html" %}{% endwith %}
    {{ reflection.content }}
  </section>
{% endblock %}