{% extends "generator_base.html" %}
{% block title %}
  Caveat → Produsers → {{ tag.tag }}
{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../tags.html">Tags</a></li>
      <li>{{ tag.tag }}</li>
    </ul>
  </nav>
    <h1>{{ tag.tag }}</h1>
    {% if tag.produsers %}
      <h2>Produsers</h2>
      {% for produser in tag.produsers %}
        <a href="{{ produser.link }}">{{ produser }}</a>
      {% endfor %}
    {% endif %}
    
    {% if tag.events %}
      <h2>Events</h2>
      {% for event in tag.events %}
        <a href="{{ event.link }}">{{ event }}</a>
      {% endfor %}   
    {% endif %}

    {% if tag.pads %}
      <h2>Pads</h2>
      {% for pad in tag.pads %}
        <a href="{{ pad.link }}">{{ pad.key }}</a>
      {% endfor %}   
    {% endif %}
    
{% endblock %}