{% extends "generator_base.html" %}
{% block title %}
  Caveat → Produsers → {{ tag.tag }}
{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../tags.html">Tags</a></li>
      <li>{{ tag.tag }}</li>
    </ul>
  </nav>
    <h1>{{ tag.tag }}</h1>
    {% if tag.produsers %}
      <h2>Produsers</h2>
      <ul class="simplelist">
        {% for produser in tag.produsers %}
          <li><a href="{{ produser.link }}">{{ produser }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    
    {% if tag.events %}
      <h2>Events</h2>
      <ul class="simplelist">
        {% for event in tag.events %}
          <li><a href="{{ event.link }}">{{ event }}</a></li>
        {% endfor %}
      </ul>   
    {% endif %}

    {% if tag.pads %}
      <ul class="simplelist">
      <h2>Pads</h2>
      <ul class="simplelist">
        {% for pad in tag.pads %}
          <li><a href="{{ pad.link }}">{{ pad.key }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if tag.bibliography %}
      <h2>Bibliography</h2>
      <ul class="simplelist">
        {% for bibliography in tag.bibliography %}
          <li>{{ bibliography }}</li>
        {% endfor %}   
      </ul>
    {% endif %}
    
{% endblock %}