{% extends "base.html" %}
{% load i18n %}

{% block extra_styles %}
      <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
      <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
{% endblock %}

{% block title %}
      <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
      <p>
            Create visual styles within this publication. The pads of the default styles will be copied into a folder 'Visual Styles'.
      </p>
      <form action="{% url 'visual-styles-create' prefix %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                  {{ form.css }}{{ form.css.label_tag }}
            </div>
            <div class="form-row">
                  {{ form.javascript }}{{ form.javascript.label_tag }}
            </div>
            {% if form.name.errors %}
            <div class="form-row">
            {% for error in form.name.errors %}
                  <p>{{ error|escape }}</strong></p>
            {% endfor %}
            </div>
            {% endif %}
            <div class="form-row--button">
                  <input class="submit" type="submit" value="{%trans "Create styles" %}" />
            </div>
      </form>
      <legend></legend>
{% endblock %}