{% load generator_utils svg_icons %}

<section class="audio" id="{{ link.id }}" data-link-target-type="{{ object.contentType }}" data-link-id="{{ link.id }}">
  {% if object.title %}
    <h3>{{  object.title }}</h3>
  {% endif %}
  <section class="player player--inline">
    <audio controls src="{{ object.audio }}" type="{{ object.type }}"></audio>
    <button class="button button--play-pause">
      {% svg_icon_play %}
      {% svg_icon_pause %}
    </button>
    <button class="button button--skip-backward">←</button>
    <button class="button button--skip-forward">→</button>
    <div class="track">
      <div class="track--progress">
        <div class="track--scrubber"></div>
      </div>
    </div>
    <span class="label--currentTime"></span>
  </section>
  <section class="performance--metadata">
    {% if performance.date %}
      on: {{ performance.date }}
    {% endif %}
    {% if performance.person %}
      with: {{ performance.person }}
    {% endif %}
    {{ peformance.content }}
  </section>
  {% if object.description %}
    <p>
      {{ object.description }}
    </p>
  {% endif %}
</section>  