{% load thumbnail %}
<section
  class="video"
  id="{{ link.id }}"
  data-link-target-type="{{ object.contentType }}"
  data-link-id="{{ link.id }}"
>
  {% if object.title %}
  <h3>{{ object.title }}</h3>
  {% endif %} 

  {% thumbnail object.thumbnailPath 600x400 upscale dither="#000000" as thumb %}
  {% if object.vimeoId %}
  <iframe
    srcdoc="
        <style>
              body, .full {
                width: 100%;
                height: 100%;
                margin: 0;
                position: absolute;
                display: flex;
                justify-content: center;
                object-fit: none;
              }
              .video-image-wrapper {
                background-color: #0074d9;
              }
              
              .video-image-wrapper:hover {
                background-color: #09484d 
              }

              .video-image-wrapper:hover .video-image{
                mix-blend-mode: lighten;
              }
              .video-image {
                mix-blend-mode: overlay; 
                image-rendering: pixelated;
              }
        </style>
        <a
            href='https://player.vimeo.com/video/{{ object.vimeoId }}?autoplay=1&autopause=0'
            class='full video-image-wrapper'
        >
            <img
                src='{{ thumb.url }}'
                class='full video-image'
            />
            <svg
                version='1.1'
                viewBox='0 0 68 48'
                width='200px'
                style='position: relative;'
            >
                <path d='M 45,24 27,14 27,34' fill='#fff'></path>
            </svg>
        </a>
    "
    style="max-width: 640px; width: 100%; aspect-ratio: 16/9"
    frameborder="0"
  >
  </iframe>

  {% elif object.youtubeId %}
  <iframe
    class="inline--video"
    srcdoc="
              <style>
              body, .full {
                width: 100%;
                height: 100%;
                margin: 0;
                position: absolute;
                display: flex;
                justify-content: center;
                object-fit: none;
              }
              .video-image-wrapper {
                background-color: #0074d9;
              }
              
              .video-image-wrapper:hover {
                background-color: #09484d 
              }

              .video-image-wrapper:hover .video-image{
                mix-blend-mode: lighten;
              }
              .video-image {
                mix-blend-mode: overlay; 
                image-rendering: pixelated;
              }
        </style>
              <a  
                  class='full video-image-wrapper'
                  href='https://www.youtube-nocookie.com/embed/{{ object.youtubeId }}'
              >
                  <img
                      class='full video-image'
                      src='{{ thumb.url }}'
                  />
                  <svg
                      version='1.1'
                      viewBox='0 0 68 48'
                      width='200px'
                      style='position: relative;'
                  >
                      <path d='M 45,24 27,14 27,34' fill='#fff'></path>
                  </svg>
              </a>
          "
    frameborder="0"
  ></iframe>
  {% else %}
  <video controls>
    <source src="{{ object.video }}" type="{{ object.type }}" />
  </video>
  {% endif %}

  {% if object.description %}
  <p>{{ object.description }}</p>
  {% endif %}
</section>
