<div class="item item--voice item--reference">
  {% if object.image %}
  <div class="item--image-wrapper">
    <img
      class="item--image"
      src="{{ object.image }}"
      alt="EstherKokmeijer"
    />
  </div>
  {% endif %}
  <p class="item--description">
    {{ object.content }}
  </p>
  {% if object.stations %}
  <p class="item--extra">
    {% for station in object.stations %}
      {{ station.shortname }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
</div>