{% if item.tags and item.tags.targets %}
<section class="item--metadata item--tags">
  <h4>Tags</h4>
  <ul class="inlinelist">
  {% for tag in item.tags.targets %}
    <li><a href="{{ tag.link }}" class="tag">{{ tag }}</a></li>
  {% endfor %}
  </ul>
</section>
{% endif %}
{% if item.produser and item.produser.targets %}
<section class="item--produsers item--metadata ">
  <h4>Produsers</h4>
  <ul class="inlinelist">
  {% for produser in item.produser.targets %}
    <li><a class="produser" href="{{ produser.link }}">{{ produser }}</a></li>
  {% endfor %}
  {% if item.participant %}
  {% for participant in item.participant.targets %}
    <li><a class="produser" href="{{ participant.link }}">{{ participant }}</a></li>
  {% endfor %}
  {% endif %}
  </ul>
</section>
{% endif %}