{% load generator_utils %}

{% with item.tags|without_inline_links as tags %}
  {% if tags %}
    <section class="item--metadata item--tags">
      <h4>Tags</h4>
      {% include "snippets/tags.html" %}
    </section>
  {% endif %}
{% endwith %}

{% combine_linkfields item.produser item.participant as produser_combined %}

{% if produser_combined %}
  <section class="item--produsers item--metadata">
    <h4>Produsers</h4>
    {% with produsers=produser_combined %}    
      {% include "snippets/produsers.html" %}
    {% endwith %}
  </section>
{% endif %}