{% extends "generator/base.html" %}
{% load generator_utils %}
{% block content %}
  <h1>{{ demonstration }}</h1>
  <dl>
    {% if demonstration.person %}
      <dt>Person</dt>
      <dd>{{ demonstration.person }}</dd>
    {% endif %}
    {% if demonstration.date %}
      <dt>Date</dt>
      <dd>{{ demonstration.date }}</dd>
    {% endif %}
    {% if demonstration.address %}
      <dt>Address</dt>
      <dd>{{ demonstration.address }}</dd>
    {% endif %}
    {% if demonstration.location %}
      <dt>Location</dt>
      <dd><a href="{{ demonstration.location.target.link }}">{{ demonstration.location }}</a></dd>
    {% endif %}
    {% if demonstration.themes and demonstration.themes.targets %}
      <dt>Themes</dt>
      <dd>
        {% for theme in demonstration.themes.targets %}
          <a href="{{ theme.link }}">{{ theme }}</a>
        {% endfor %}
      </dd>
    {% endif %}
    {% if demonstration.tools and demonstration.tools.targets %}
      <dt>Tools</dt>
      <dd>
        {% for tool in demonstration.tools.targets %}
          <a href="{{ tool.link }}">{{ tool }}</a>
        {% endfor %}
      </dd>
    {% endif %}
    {% if demonstration.elements and demonstration.elements.targets %}
      <dt>Elements</dt>
      <dd>
        {% for element in demonstration.elements.targets %}
          <a href="{{ element.link }}">{{ element }}</a>
        {% endfor %}
      </dd>
    {% endif %}
    {% if demonstration.shores and demonstration.shores.targets %}
      <dt>Shores</dt>
      <dd>
        {% for shore in demonstration.shores.targets %}
          <a href="{{ shore.link }}">{{ shore }}</a>
        {% endfor %}
      </dd>
    {% endif %}
  </dl>
  {{ demonstration.content }}
{% endblock %}