{% extends "generator/base.html" %}
{% block extrabodyclass %}home{% endblock %}
{% block content %}
  <div class="panel">
    <h2>Ocean Conversations</h2>
    <div class="content">
      {% for conversation in conversations %}
        <h2><a href="{{ conversation.link }}">{{ conversation }}</a></h2>
      {% endfor %}
    </div>
  </div>
  <div data-grouped-by="theme" class="panel">
    <h2>Themes</h2>
    <div class="content">
    {% for theme in themes %}
      {% if theme.conversations.targets %}
        <h3><a href="{{ theme.link }}">{{ theme }}</a></h3>
        {% for conversation in theme.conversations %}
          <h2><a href="{{ conversation.target.link }}">{{ conversation }}</a></h2>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div data-grouped-by="location" class="panel">
    <h2>Locations</h2>
    <div class="content">
    {% for location in locations %}
      {% if location.conversations.targets %}
        <h3><a href="{{ location.link }}">{{ location }}</a></h3>
        {% for conversation in location.conversations %}
          <h2><a href="{{ conversation.target.link }}">{{ conversation }}</a></h2>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div data-grouped-by="shore" class="panel">
    <h2>Shores</h2>
    <div class="content">
    {% for shore in shores %}
      {% if shore.conversations.targets %}
        <h3><a href="{{ shore.link }}">{{ shore }}</a></h3>
        {% for conversation in shore.conversations %}
          <h2><a href="{{ conversation.target.link }}">{{ conversation }}</a></h2>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div data-grouped-by="element" class="panel">
    <h2>Elements</h2>
    <div class="content">
    {% for element in elements %}
      {% if element.conversations.targets %}
        <h3><a href="{{ element.link }}">{{ element }}</a></h3>
        {% for conversation in element.conversations %}
          <h2><a href="{{ conversation.target.link }}">{{ conversation }}</a></h2>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div data-grouped-by="tool" class="panel">
    <h2>Tools</h2>
    <div class="content">
    {% for tool in tools %}
      {% if tool.conversations.targets %}
        <h3><a href="{{ tool.link }}">{{ tool }}</a></h3>
        {% for conversation in tool.conversations %}
          <h2><a href="{{ conversation.target.link }}">{{ conversation }}</a></h2>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
{% endblock %}