{% extends "generator/base.html" %}
{% load generator_utils aseatforthesea %}
{% block subnav %}
  <ul>
  {% for station in objects %}
    <li><a href="{{ station.url }}"><span class="subnavtrim">{{ station.label.value|extract_number_from_station_name }}</span><span class="subnavfull">{{ station }}</span></a></li>
  {% endfor %}
  </ul>
{% endblock %}
{% block page_title %}{{ block.super }} | {{ title }}{% endblock %}
{% block before_content %}
  <div class="item item-type--page-title">
    <h1>{{ title }}</h1>
  </div>
{% endblock %}
{% block content_class %}simple-grid prevent--resizing-blocks{% endblock %}
{% block content %}  
  {% for object in objects %}
    {% include "generator/snippets/object-previews/station_full.html" %}
  {% endfor %}
{% endblock %}