{% extends "generator/base.html" %}
{% load generator_utils %}
{% block page_title %}{{ block.super }} | Voices{% endblock %}
{% block subnav %}
  <ul>
    <li>
      <a href="#group--voices">Voices</a>
    </li>
    <li>
      <a href="#group--team">Team</a>
    </li>
    <li>
      <a href="#group--partners">Partners</a>
    </li>
  </ul>
{% endblock %}
{% block before_content %}
  <div class="item item-type--page-title">
    <h1>Voices</h1>
  </div>
{% endblock %}
{% block content_class %}simple-grid prevent--resizing-blocks{% endblock %}
{% block content %}  
  <div class="item item-type--sub-title" id="group--voices">
    <h2>Voices</h2>
  </div>
  {% for object in collection.grouped.voice %}
    {% include "generator/snippets/object-previews/voice.html" %}
  {% endfor %}

  <div class="item item-type--sub-title" id="group--team">
    <h2>Team</h2>
  </div>
  {% for object in collection.grouped.team %}
    {% include "generator/snippets/object-previews/voice.html" %}
  {% endfor %}

  <div class="item item-type--sub-title" id="group--partners">
    <h2>Partners</h2>
  </div>
  {% for object in collection.grouped.partner %}
    {% include "generator/snippets/object-previews/voice.html" %}
  {% endfor %}

{% endblock %}