{% extends "generator/base.html" %}

{% load generator_utils %}

{% block page_title %}{{ block.super }} | Gallery{% endblock %}

{% block subnav %}
  <ul>
    {% if galleries %}
      <li>
        <a href="#group--galleries">Galleries</a>
      </li>
    {% endif %}
    {% if videos %}
      <li>
        <a href="#group--videos">Videos</a>
      </li>
    {% endif %}
    {% if images %}
      <li>
        <a href="#group--images">Images</a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block before_content %}
  <div class="item item-type--page-title">
    <h1 id="group--galleries">Gallery</h1>
  </div>
{% endblock %}

{% block content_class %}simple-grid prevent--resizing-blocks{% endblock %}

{% block content %}

  {% for object in galleries %}
    {% include "generator/snippets/object-previews/gallery.html" %}
  {% endfor %}

  {% if videos %}
    <div class="item item-type--sub-title" id="group--videos">
      <h2>Videos</h2>
    </div>

    {% for object in videos %}
      {% include "generator/snippets/object-previews/video.html" %}
    {% endfor %}
  {% endif %}

  {% if galleryImagesPage %}
    {% with images=galleryImagesPage.links|only:"image"|targets %}
      {% if images %}
        <div class="item item-type--sub-title" id="group--images">
          <h2>Images</h2>
        </div>
        
        {% for object in images %}
          {% include "generator/snippets/object-previews/image.html" %}
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% endif %}
  
{% endblock %} 