{% extends "generator/base.html" %}
{% load generator_utils %}
{% block content %}
  <h2>{{ object.contentType }} </h2>
  <h1>{{ object }}</h1>
  {% if object.conversations and object.conversations.targets %}
    <h2>Conversations</h2>
    <ul>
    {% for link, _, conversation in object.conversations|link_iterator %}
      {% if link.inline %}
        <li><a href="{{ conversation.link }}#{{ link.id }}">{{ link.context }}</a></li>
      {% else %}
        <li><a href="{{ conversation.link }}">{{ conversation }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
  {% if object.demonstrations and object.demonstrations.targets %}
    <h2>Demonstrations</h2>
    <ul>
    {% for demonstration in object.demonstrations %}
      <li><a href="{{ demonstration.target.link }}">{{ demonstration }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if object.protocols and object.protocols.targets %}
    <h2>Protocols</h2>
    <ul>
    {% for protocol in object.protocols %}
      <li><a href="{{ protocol.target.link }}">{{ protocol }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}