{% extends "generator/base.html" %}
{% load generator_utils %}
{% block page_title %}{{ block.super }} > {{ object.plural|title }} > {{ object }}{% endblock %}
{% block content %}

  <div class="item item-type--page-title">
    <h1>{{ object }}</h1>
  </div>
  {% if object.content %}
  <div class="item item-type--main">
    {{ object.content }}
  </div>
  {% endif %}

  {% include "generator/snippets/object-previews/list.html" with objects=object|merged_links|without_inline_links:"image, video, gallery"|targets only %}

{% endblock %}