{% extends "generator/base.html" %}
{% load generator_utils %}
{% block page_title %}{{ block.super }} > {{ object.plural|title }} > {{ object }}{% endblock %}
{% block content %}
  <h6>{{ object.contentType }}</h6>
  <h1>{{ object }}</h1>
  {% if object.content or object.tags %}
    {% if object.content or object.tags %}
      {{ object.content }}
    {% endif %}
    {% if object.tags %}
      <h2>Tags</h2>
      <ul class="list--tags">
        {% for tag in object.tags %}
          <li><a href="{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}

{% endblock %}