{% load generator_utils %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}/css/interface.css" />
  <link rel="stylesheet" href="{{ SITE_URL }}/print.css" type="text/css" media="all">
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</head>
<body>
  <section class="chapters">
    {% for chapter in chapters %}
      {% if chapter.position.value == 'before_content' and chapter.on_web.value != 'false' %}
        <div class="chapter" data-chapter="{{ chapter }}">
          {{ chapter.content }}
        </div>
      {% endif %}
    {% endfor %}
  </section>
  <section class="reports">
    {% for report in reports %}
      <section class="report">
        {{ report.content }}
      </section>
    {% endfor %}
  </section>
  <section class="pads">
    {% for pad in pads %}
      <section class="pad">
        {{ pad.content }}
      </section>
    {% endfor %}
  </section>
  {% for chapter in chapters %}
    {% if chapter.position == 'after_content' and chapter.on_print != 'false' %}
      <div class="chapter" data-chapter="{{ chapter }}">
        {{ chapter.content }}
      </div>
    {% endif %}
  {% endfor %}
  <ul>
    {% for label in labels %}
      <li>
        {{ label }}
        {% for link in label|merged_links %}
          <span class="index-entry" data-link-id="#{{ link.id }}"></span>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</body>
</html>