{% extends "generator/object.html" %}

{% block subnav %}
  <ul>
    <li{% if object.contentType == "contribution" or object.contentType == "reflection" %} class="selected"{% endif %}>
      <a href="{{ SITE_URL }}/reflections.html#group--contributions">Contributions</a>
    </li>
    <li{% if object.contentType == "previewreview" %} class="selected"{% endif %}>
      <a href="{{ SITE_URL }}/reflections.html#group--preview-review">Preview Review</a>
    </li>
    <li{% if object.contentType == "sharedspace" %} class="selected"{% endif %}>
      <a href="{{ SITE_URL }}/reflections.html#group--shared-space">Shared Space</a>
    </li>
  </ul>
{% endblock %}