{% extends "generator/base.html" %}
{% load generator_utils %}
{% block page_title %}{{ block.super }} | Reflections{% endblock %}
{% block subnav %}
  <ul>
    <li>
      <a href="#group--contributions">Contributions</a>
    </li>
    <li>
      <a href="#group--preview-review">Preview Review</a>
    </li>
    <li>
      <a href="#group--shared-space">Shared Space</a>
    </li>
  </ul>
{% endblock %}
{% block before_content %}
  <div class="item item-type--page-title">
    {% comment %} <h1>{{ title }}</h1> {% endcomment %}
    <h1>Reflections</h1>
  </div>
{% endblock %}
{% block content_class %}simple-grid prevent--resizing-blocks{% endblock %}
{% block content %}
  <div class="item item-type--sub-title" id="group--contributions">
    <h2>Contributions</h2>
  </div>
  {% for object in contributions %}
    {% include "generator/snippets/object-previews/contribution.html" %}
  {% endfor %}
  <div class="item item-type--sub-title" id="group--preview-review">
    <h2>Preview Review</h2>
  </div>
  {% for object in previewReviews %}
    {% include "generator/snippets/object-previews/contribution.html" %}
  {% endfor %}
  <div class="item item-type--sub-title" id="group--shared-space">
    <h2>Shared Space</h2>
  </div>
  {% for object in pads %}
    {% include "generator/snippets/object-previews/object.html" %}
  {% endfor %}
{% endblock %}