{% extends "generator/base.html" %}
{% load generator_utils %}
{% block page_title %}{{ block.super }} > {{ object.plural|title }} > {{ object }}{% endblock %}
{% block subnav %}
  <ul>
  {% for station in page_content.collection %}
    <li {% if page_content.model == station %}class="selected"{% endif %}><a href="{{ station.url }}">{{ station }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
{% block content %}

  <div class="item item-type--page-title">
    <h1>{{ object }}</h1>
    {% if object.question %}
      <h2>{{ object.question }}</h2>
    {% endif %}
  </div>
  {% if object.content or object.tags %}
  <div class="item item-type--main">
    {% if object.content or object.tags %}
      {{ object.content }}
    {% endif %}
    {% if object.tags %}
      <ul class="list--tags">
        {% for tag in object.tags %}
          <li><a href="{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endif %}

  {% for event in station.events %}
  <div class="item item--event">
    <p>
      <strong>{{ event }}</strong><br>
      {% for date in event.dates %}
        <strong>{{ date|date:"d-m-y" }} {{ date|time:"H:i" }}</strong><br>
      {% endfor %}
      {% if event.location %}
      {{ event.location }}
      {% endif %}
    </p>
    {% if event.content %}
    <p>
      {{ event.content }}
    </p>
    {% endif %}
  </div>
  {% endfor %}

  {% include "generator/snippets/object-previews/list.html" with objects=object.contributions|targets only %}
  {% include "generator/snippets/object-previews/list.html" with objects=object.reflections|targets only %}
  {% include "generator/snippets/object-previews/list.html" with objects=object.previewReviews|targets only %}

  {% include "generator/snippets/object-previews/list.html" with objects=object|merged_links|without:"event, tag, contirbution, reflection, previewReview"|without_inline_links:"image, video, gallery"|targets only %}
  
  
{% endblock %}