{% extends "generator/base.html" %}
{% load generator_utils %}
{% block page_title %}{{ block.super }} > {{ object.plural|title }} > {{ object }}{% endblock %}
{% block content %}
  <h6>{{ object.contentType }}</h6>
  <h1>Tag: {{ object }}</h1>
  {% with object|merged_links|length as num_objects%}
    <p>Linked to {{ num_objects }} item{{ num_objects|pluralize }}</p>
    {% if object.content %}
      {{ object.content }}
    {% endif %}
  {% endwith %}
  <ul>
    {% for link in object|merged_links %}
      <li>
        {% if link.context %}
          {{ link.context }}
        {% endif %}
        <p>
          <a href="{{ link.target.url }}">
            {{ link.target.contentType }}: {{ link.target }}
          </a>
        </p>
      </li>
    {% endfor %}
  </ul>

{% endblock %}