@font-face {
  font-family: "Executive";
  src: url("../fonts/Executive/Executive-Regular.woff2") format("woff2"),
    url("../fonts/Executive/Executive-Regular.woff") format("woff"),
            url("../fonts/Executive/Executive-Regular.otf") format("OpenType");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Executive";
  src: url("../fonts/Executive/Executive-Medium.woff2") format("woff2"),
    url("../fonts/Executive/Executive-Medium.woff") format("woff"),
    url("../fonts/Executive/Executive-Medium.otf") format("OpenType");
  font-weight: 600;
  font-style: normal;
}

:root {
    --color: black;
    --serif: "Junicode-Condensed";
    --sans: Executive;
    --body-font: var(--sans);
    --header-font: var(--sans);
    --mono: Monospace;
    --font-lettrine: var(--sans);
    --font-size: 16pt;
    --line-height: 20pt;
    --font-size-small: 12px;
    --highlight-color: #f2f2ff;
    --blue-ocean: #271192;
    --c--one: #e6e6ff;
    --c--two: #0606ff;
    --c--three: #3d3dff;
    --c--four: #7f7fff;
    --c--five: #4c4cff;
    --c--six: #3333ff;
}

html, body {
  overflow: hidden;
}

body {
  font-family: "Executive";
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1vw;
  line-height: 1.3;
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 14pt;
  }
}

nav, main, aside {
  max-height: 100vh;
  box-sizing: border-box;
}

main {
  overflow-y: auto;
}

nav {
  flex: 0 1 400px;
  background: var(--blue-ocean);
  color: white;
  overflow-y: auto;
}

main {
  flex: 1 0;
  background: white;
  color: var(--blue-ocean);
  padding: var(--line-height) calc(3 * var(--line-height));
  overflow-y: auto;
}

aside {
  flex: 0 1 400px;
  background: var(--blue-ocean);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  position: sticky;
  top: 0;
}

aside:empty {
  display: none;
}

@media screen and (max-width: 1400px) {
  nav {
    flex: 0 0 250px;
  }

  aside {
    flex: 0 0 300px;
  }
}

section.subpanel {
  padding: var(--line-height) calc(2 * var(--line-height));
  width: 80vw;
  background: var(--background-color);
  flex: 1 0;
  margin-right: calc(-1 * 80vw);
  transition: .2s left;
  position: relative;
  left: 0;
  cursor: w-resize;
}

section.subpanel:hover {
  left: -15vw;
  transition: .2s left;
}

section.subpanel[data-active] {
  left: -60vw;
  transition: .2s left;
  cursor: e-resize;
}

section.panel--heading {
  padding: var(--line-height) calc(2 * var(--line-height));
  color: white;
  background-color: var(--blue-ocean);
}

section.subpanel .content {
  position: absolute;
  width: 100%;
  top: 100%;
  min-height: 40vh;
  background: var(--background-color);
  display: none;
  margin-left:  calc(-2 * var(--line-height));
  margin-right:  calc(-2 * var(--line-height));
  padding-left:  calc(2 * var(--line-height));
  padding-right: calc(2 * var(--line-height));
}

section.subpanel:hover .content,
section.subpanel[data-active] .content {
  display: block;
}

section.subpanel:nth-of-type(1) {
  --background-color: var(--c--one);
  color: var(--blue-ocean);
}

section.subpanel:nth-of-type(2) {
  color: white;
  --background-color: var(--c--two);
}

section.subpanel:nth-of-type(3),
section.subpanel:nth-of-type(7) {
  color: white;
  --background-color: var(--c--three);
}

section.subpanel:nth-of-type(4),
section.subpanel:nth-of-type(8) {
  color: white;
  --background-color: var(--c--four);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1em;
}

h3 {
  font-size: 0.8em;
}

h2 + h3 {
  margin-top: 3em;
}

nav {
  box-sizing: border-box;
  padding: var(--line-height) calc(0.5 * var(--line-height));
}

dl {
  font-size: 75%;
}

dt {
  margin-top: var(--line-height);
}

dd {
  margin: 0;
}

dd a:not(:last-child)::after {
  content: ',';
}

p {
  margin-top: 0;
  margin-bottom: 1.3em;
  max-width: 70ch;
}

a {
    text-decoration: none;
color: var(--blue-ocean);
}
a:hover {
  color:blue;
  text-decoration: none;
}

nav a {
  color:white; 
  text-decoration: none;
}

nav a:hover {
  color: blue;
}

nav #logo {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1em;
}

.home main {
  display: flex;
  flex-direction: row;
}

.home .panel {
  flex: 0 0 50px;
  animation: flex-grow .2s;
  position: relative;
  overflow: hidden;
}

.home .panel:hover {
  flex-grow: 1;
  animation: flex-grow .2s;
}

.home .panel > h2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  writing-mode: tb;
  margin-left: 0;
  transform: rotate(180deg);
  text-align: right;
}

.home .panel .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 50px;
  overflow-y: auto;
}

.inline-reference:target,
.inline-reference[data-link-marked] {
	outline: 1px dotted currentColor;
	outline-offset: .15em;
}

mark {
  background: initial;
  color: inherit;
  text-decoration: underline;
}

.markdown--circled {
  outline: 1px solid currentColor;
  outline-offset: .25em;
  border-radius: 1.25rem/50%;
}