<ul>
  <li>
    <a href="{{ SITE_URL }}">{{ PUBLICATION_TITLE }}</a>
  </li>
  {% for chapter in chapters %}
    {% if chapter.position.value == 'before_content' and chapter.on_web.value != 'false' %}
      <li><a href="{{ chapter.url }}">{{ chapter }}</a></li>
    {% endif %}
  {% endfor %}
  <li {% if page_content.content_type == "report" %}class="selected"{% endif %}>
    <a href="{{ SITE_URL }}/reports.html">All reports</a>
  </li>
  <li>
    <a href="{{ SITE_URL }}/pads.html">All pages</a>
  </li>
  <li>
    <a href="{{ SITE_URL }}/labels.html">All labels</a>
  </li>
  <li>
    <a href="{{ SITE_URL }}/print.html">Print version</a>
  </li>
</ul>