{% for entry in grouped_objects %}
  <div class="item item-type--sub-title">
    <h2>{{ entry.grouper }}</h2>
  </div>
  {% for object in entry.list %}
    {% if object.contentType == "audio" %}    
      {% include "generator/snippets/object-previews/audio.html" %}
    {% elif object.contentType == "image" %}    
        {% include "generator/snippets/object-previews/image.html" %}
    {% else %}
      {% include "generator/snippets/object-previews/object.html" %}
    {% endif %}
  {% endfor %}
{% endfor %}