{% load thumbnail %}

<div class="item item--gallery item--reference" data-item-object-type="image">
  <div class="item--gallery--image-wrapper">
    <img
      class="item--gallery--image"
      src="{% thumbnail object.image.value 600x400 dither="#000000" %}"
      data-src-thumbnail="{% thumbnail object.image.value 400x0 %}"
      data-src-full="{% thumbnail object.image.value 1200x1200 %}"
      data-author="{{ object.author }}"
      alt="{{ object.alt }}"
    />
  </div>
  {% if object.author %}
  <div class="item--author">
    <p>
      Photo by {{ object.author|truncatechars_html:300 }}
    </p>
  </div>
  {% endif %}
</div>