{% load thumbnail %}

{% if object.image.value.width > object.image.value.height %}
  <div class="item item-type--{{ object.contentType }} item--reference" data-item-object-type="image">
{% else %}
  <div class="item item-type--{{ object.contentType }} item--reference" data-item-object-type="image" style="grid-column: span 1">
{% endif %}
  <div class="item--image-wrapper">
    <img
      class="item--image"
      src="{% thumbnail object.image.value 600x400 crop upscale subject_location=image.image.value.subject_location  dither="#000000" %}"
      data-src-thumbnail="{% thumbnail object.image.value 400x0 %}"
      data-src-full="{% thumbnail object.image.value 1200x1200 %}"
      data-author="{{ object.author }}"
      data-caption="{{ object.caption }}"
      data-title="{{ object.title }}"
      alt="{{ object.alt }}" 
    />
  </div>
  {% if object.author %}
  <div class="item--author">
    <p>
      Photo by {{ object.author|truncatechars_html:300 }}
    </p>
  </div>
  {% endif %}
</div>