{% for object in objects %}
  {% if object.contentType == "audio" %}    
    {% include "generator/snippets/object-previews/audio.html" %}
  {% elif object.contentType == "image" %}    
      {% include "generator/snippets/object-previews/image.html" %}
  {% elif object.contentType == "video" %}    
      {% include "generator/snippets/object-previews/video.html" %}
  {% elif object.contentType == "gallery" %}
      {% include "generator/snippets/object-previews/gallery.html" %}
  {% elif object.contentType == "contribution" or object.contentType == "reflection" or object.contentType == "previewreview" or object.contentType == "sharedspace" %}
      {% include "generator/snippets/object-previews/contribution.html" %}  
  {% elif object.contentType == "tag" %}
      {% include "generator/snippets/object-previews/tag.html" %}
  {% elif object.contentType == "station" %}
      {% include "generator/snippets/object-previews/station.html" %}
  {% elif object.contentType == "voice" %}
      {% include "generator/snippets/object-previews/voice.html" %}
  {% else %}
    {% include "generator/snippets/object-previews/object.html" %}
  {% endif %}
{% endfor %}