{% for object in objects %}
  {% if object.contentType == "audio" %}    
    {% include "generator/snippets/object-previews/audio.html" %}
  {% elif object.contentType == "image" %}    
      {% include "generator/snippets/object-previews/image.html" %}
  {% elif object.contentType == "video" %}    
      {% include "generator/snippets/object-previews/video.html" %}
  {% elif object.contentType == "gallery" %}
      {% include "generator/snippets/object-previews/gallery.html" %}
  {% else %}
    {% include "generator/snippets/object-previews/object.html" %}
  {% endif %}
{% endfor %}