{% load thumbnail %}
<div class="item item-type--{{ object.contentType }} item--reference" data-item-object-type="{{ object.contentType }}">
    <a href="{{ object.url }}">

        {% if object.images %}
          {% with image=object.images.targets|first %}
            <div class="item--image-wrapper">
              <img
                class="item--image"
                src="{% thumbnail image.image.value 600x400 crop upscale subject_location=image.image.value.subject_location dither="#000000" %}"
                data-src-thumbnail="{% thumbnail image.image.value 400x0 %}"
                data-src-full="{% thumbnail image.image.value 1200x1200 %}"
                alt="{{ image.alt }}"
              />
            </div>
          {% endwith %}
        {% endif %}

        <div class="item--description">
            {% if object.station %}
              <h2 class="item--description-title">
                  {{ object.station }}
              </h2>
            {% endif %}

            {% if object.date %}
              <p class="item--description-date">
                  {{ object.date }}
              </p>
            {% endif %}
            
            {% if object.question %}
              <h3 class="item--description-question">
                {{ object.question }}
              </h3>
            {% endif %}

            <div class="item--description-meta">
              {% if object.voices %}
              <div class="item--description-meta-container">
                <p class="item--description-meta-title">
                  Voices
                </p>
                <p class="item--description-meta-items">
                    {% for voice in object.voices %}
                    {{voice.voice}}<br>
                    {% endfor %}
                </p>
              </div>
              {% endif %}
            </div>


        </div>

    </a>
</div>