<div class="item item-type--{{ object.contentType }} item--reference" data-item-object-type="{{ object.contentType }}">
  {% if object.vimeoId %}
    <div style="padding: 56.25% 0 0 0; position: relative; ">
      <iframe src="https://player.vimeo.com/video/{{ object.vimeoId }}?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <!-- @FIXME find a way to include the player js only once -->
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  {% elif object.youtubeId %}
    <iframe src="https://www.youtube-nocookie.com/embed/{{ object.youtubeId }}"  style="min-height: 350px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% else %}
    <video controls>
      <source src="{{ object.video }}" type="{{ object.type }}">
    </video>
  {% endif %}
  {% if object.description %}
    <p>
      {{ object.description }}
    </p>
  {% endif %}
</div>