<div class="item item-type--{{ object.contentType }} item--reference" data-item-object-type="{{ object.contentType }}">
  {% if object.vimeoId %}
    <div style="padding: 56.25% 0 0 0; position: relative; ">
      <iframe src="https://player.vimeo.com/video/{{ object.vimeoId }}?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <!-- @FIXME find a way to include the player js only once -->
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div> 
    {% comment %} <iframe
    srcdoc="
        <style>
            body, .full {
                width: 100%;
                height: 100%;
                margin: 0;
                position: absolute;
                display: flex;
                justify-content: center;
                object-fit: cover;
            }
        </style>
        <a
            href='https://player.vimeo.com/video/{{ object.vimeoId }}?autoplay=1&autopause=0'
            class='inline--video-link full'
        >
            <img
                src='https://vumbnail.com/{{ object.vimeoId}}.jpg'
                class='inline--video-img full'
            />
            <svg
                version='1.1'
                viewBox='0 0 68 48'
                width='200px'
                style='position: relative;'
            >
                <path d='M 45,24 27,14 27,34' fill='#fff'></path>
            </svg>
        </a>
    "
    style="max-width: 640px; width: 100%; aspect-ratio: 16/9;"
    frameborder="0"
    >
    </iframe> {% endcomment %}
  {% elif object.youtubeId %}
    <iframe
    class="inline--video"
    srcdoc="
        <style>
            body, .full {
                width: 100%;
                height: 100%;
                margin: 0;
                position: absolute;
                display: flex;
                justify-content: center;
                object-fit: cover;
            }
        </style>
        <a  
            class='inline--video-link full'
            href='https://www.youtube-nocookie.com/embed/{{ object.youtubeId }}'
        >
            <img
                class='inline--video-img full'
                src='http://img.youtube.com/vi/{{ object.youtubeId }}/maxresdefault.jpg'
            />
            <svg
                version='1.1'
                viewBox='0 0 68 48'
                width='200px'
                style='position: relative;'
            >
                <path d='M 45,24 27,14 27,34' fill='#fff'></path>
            </svg>
        </a>
    "
    frameborder="0"
  >
    </iframe>  
  {% else %}
    <video controls>
      <source src="{{ object.video }}" type="{{ object.type }}">
    </video>
  {% endif %}
  {% if object.description %}
    <p>
      {{ object.description }}
    </p>
  {% endif %}
</div>