{% extends "base.html" %}
{% load wikify %}
{% block bodyclasses %}content-extra-wide{% endblock %}
{% block title %}
  <h2>Pads</h2>
{% endblock %}
{% block content %}
    <section class="pad-list--path">
        {% for name, url in crumbs %}
            {% if not forloop.last %}
              <a class="crumb" href="{{ url }}">{{ name|striptags }}</a>
              <span class="pad-list--path--separator"></span>
            {% else %}
              {{ name|striptags }}
            {% endif %}
        {% endfor %}
        {% if crumbs|length == 1 %}
          <a href="{% url 'publication-create' organisation.slug %}" class="button push">+ create publication</a>
        {% else %}
          <a href="{% url 'generator-pad-create' currentPath %}" class="button push">+ create pad</a>
          {% if crumbs|length == 2 and not has_visual_styles %}
            &nbsp;
            <a href="{% url 'visual-styles-create' currentPath %}" class="button">+ add visual styles</a>
          {% endif %}
        {% endif %}
    </section>
    <ul id="pads_list" class="manage_list">
        {% for key, type, object, path in dir_list %}
            {% if type == 'pad' %}
              <li class="pad"><a data-uid="{{ object.display_slug }}" href="{{ object.url }}" class="pad-link">{{ object }}{% if object.is_public %} (public){% endif %}</a>
                <section class="actions">
                  {% if object.is_public %}
                      <a href="{% url 'pad-private' object %}" class="button button--private" title="Make this pad private. Private pads can only be accessed and modified with an account.">make private</a>
                  {% else %}
                      <a href="{% url 'pad-public' object %}" class="button button--public" title="Make this pad public. Public pads can also be accessed and modified without an account.">make public</a>
                  {% endif %}
                  <a href="{% url 'pad-rename' object %}" class="button button--rename">rename</a>
                  <a href="{% url 'pad-delete' object %}" class="button button--delete">delete</a>
                </section>
              </li>
            {% else %}
              <li class="folder"><a href="{% url 'manage' path %}">{{ key }}</a>
                <section class="actions">
                  <a href="{% url 'folder-rename' path %}" class="button button--rename">rename</a>
                </section>
              </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
