@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-RegularCondensed.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-BoldItalicCondensed.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-BoldCondensed.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Caveat-Outline";
  src: url("fonts/Caveat.woff");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Reg.woff");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Bol.woff");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-BolIta.woff");
  font-weight: Bold;
  font-style: italic;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Ita.woff");
  font-weight: regular;
  font-style: italic;
}


/* ==========================================================================
   Custom medias definitions
   ========================================================================== */
@custom-media --mobile only screen and (max-width: 767px);
@custom-media --mobile-landscape only screen and (max-width: 767px) and (orientation: landscape);

/* ==========================================================================
  Variables
  ========================================================================== */
:root {
  --bleu-bille: #112B92;
  --vert-karel: #00B788;
  --orange-karel: #ff5900;
  --rose-karel: #FCBFC4;
  --rose-pale: #ffe1e4;
  --red-question: #ff3f00;
}

body {
  font-family: "U001";
  font-size: 1.4em;
  padding: 0px;
  margin: 0px !important;
  line-height: 1.2em;
  height: 100%;
}

/* ==========================================================================
  Typography
  ========================================================================== */

p {
  margin: 0;
}

ul, ol {
  margin: 0 0 0 1em;
}

ul {
  list-style-type: none;
}

ul > li::before {
  content: "─ ";
  margin-left: -1em; 
}


a {
  text-decoration: none;
  color: inherit;
  border: 0px solid black;
  font-size: 1em;
  border-bottom: 2px solid;
}

a.artist {
  text-decoration: none;
  border: 1.5px solid;
  border-top: 0px;
  padding-top: 90px;
  font-size: 0.8em;
  padding: 1px 8px;
  color: black;
  /* font-weight: bold; */
  vertical-align: middle;
  line-height: 0;
}

/* ==========================================================================
  Page structure
  ========================================================================== */

main {
  max-width: 50em;
  margin: auto;
}