@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-RegularCondensed.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-BoldItalicCondensed.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-BoldCondensed.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Caveat-Outline";
  src: url("fonts/Caveat.woff");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Reg.woff");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Bol.woff");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-BolIta.woff");
  font-weight: Bold;
  font-style: italic;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Ita.woff");
  font-weight: regular;
  font-style: italic;
}


/* ==========================================================================
   Custom medias definitions
   ========================================================================== */
@custom-media --mobile only screen and (max-width: 767px);
@custom-media --mobile-landscape only screen and (max-width: 767px) and (orientation: landscape);

/* ==========================================================================
  Variables
  ========================================================================== */
:root {
  --bleu-bille: #112B92;
  --vert-karel: #00B788;
  --orange-karel: #ff5900;
  --rose-karel: #FCBFC4;
  --rose-pale: #ffe1e4;
  --red-question: #ff3f00;

  --font-size: 1.4em;
  --font-size-small: 80%;
  --font-size-extra-small: 70%;
  --line-height: 1.2em;
}

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: "U001";
  padding: 0px;
  margin: 0px !important;
}

/* ==========================================================================
  Typography
  ========================================================================== */

p {
  margin: 0;
}

ul, ol {
  margin: 0 0 0 1em;
}

ul {
  list-style-type: none;
}

main ul > li::before {
  content: "─ ";
  margin-left: -1em;
}


a {
  text-decoration: none;
  color: inherit;
  border: 0px solid currentColor;
  font-size: 1em;
  border-bottom: 2px solid;
}
a:hover {
  color: var(--orange-karel);
}
.produser {
  text-decoration: none;
  padding: 1px .25em;
  color: currentColor;
  vertical-align: baseline;
  position: relative;
  border-bottom: none;
  display: inline-block;
}

.produser:before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid currentColor;
  border-top: 0px;
}

h1.produser {
  font-size: 200%;
  display: inline-block;
  line-height: 100%;
}

h1.produser:before {
  border-width: 2px;
}

/* h1 {
  font-family: "Junicode-Condensed";
  line-height: calc(var(--line-height) * .8);
  font-size: 1.7em;
  margin: 0;
  margin-bottom: 3px;
} */
h1 {
  font-family: "Junicode-Condensed";
  line-height: calc(var(--line-height) * .8);
  font-size: 3em;
  margin-bottom: 3px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--bleu-bille);
  color: white;
  margin: 0;
  /* display: none; */
}

h2, h4 {
  font-family: "U001";
  text-transform: uppercase;
  font-size: var(--font-size-small);
  margin-top: var(--line-height);
  margin-bottom: calc(1.3 * var(--line-height));
  font-size: 0.8em;
}

h2.produser {
  padding: 0 7px;
  margin: 0;
  text-transform: initial;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: normal;
  display: inline;
  float: left;
  margin-right: 7px;
}
.produsers + p {
  margin-bottom: calc(0.8 * var(--line-height));
}

h3 {
  font-family: "Junicode-Condensed";
}

h3 {
  margin: 0;
}

.produser a {
  border: none;
}

main, aside {
  color: var(--bleu-bille);
}

.info {
  font-family: "Junicode-condensed";
  font-weight: bold;
  font-size: 1em;
  line-height: 1.1em;
  margin-bottom: 1.1em;
}

main p {
  max-width: 47.5em;
}

p {
  margin-bottom: var(--line-height);
}
p.page-intro {
  font-family: "Junicode-Condensed";
  font-size: 1.7em;
  line-height: 1em;
  margin-bottom: calc(1.5 * var(--line-height));
}
.event-title {
  color: red;
}

.event-title {
  font-size: 0.8em;
  line-height: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.025em;
  font-family: "U001";
  margin: 0;
}

.event-title + p {
  margin-top: var(--line-height);
}
/* ==========================================================================
  tags
  ========================================================================== */
code {
    font-family: "U001";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.65em;
    color: black;
    letter-spacing: 0.015em;
    line-height: calc(0.3px * var(--line-height));
}
/* ==========================================================================
  Page structure
  ========================================================================== */

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: [left sidebar-start] 1fr [sidebar-end content-start] 1fr [content-middle] 1fr [content-end right];
  grid-template-rows: [top] repeat(2, 1fr) [footer] min-content [bottom];
}

main, footer {
  padding: 1em;
}

header {
  grid-column: sidebar-start;
  grid-row: top / footer;
  border-right: 2px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header nav {
  flex: 0 0;
  border-bottom: 2px solid black;
  display: flex;
  padding: 1em;
}

header nav a {
  text-decoration: none;
  border: none;
}

header nav a:hover {
  color: var(--bleu-bille);
}

header nav #site-logo {
  flex: 0 0 100px;
}

header nav #site-logo img {
  max-width: 100px;
}

header nav ul {
  flex: 1 0;
  margin: 0;
}

header #header-map {
  flex: 2 1;
  background: var(--rose-pale);
  border-bottom: 2px solid black;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

#header-content {
  flex: 1 0;
  overflow-y: auto;
  padding: 1em;
}

#header-content p {
  font-family: "Junicode-Condensed";
  font-size: 1.7em;
  line-height: 1em;
}

main {
  grid-row: top / footer;
  grid-column: content-start /  content-end;
  overflow-y: auto;
}


.two-columns main {
  grid-column: content-start / content-middle;
  border-right: 2px solid black;
}

.two-columns aside {
  grid-row: top / footer;
  grid-column: content-middle / content-end;
  overflow-y: auto;
}

footer {
  border-top: 2px solid;
  grid-column: left / right;
  grid-row: footer;
  background: var(--rose-karel);
}

.breadcrumbs {
  border-bottom: 2px solid black;
  margin: -1em -1em 0 -1em;
  position: sticky;
  top: -1em;
  background:white;
  z-index: 1;
}

.item-reference {
  border-bottom: 2px solid black;
  margin: 0 -1em 0 -1em;
  padding: .5em 1em;
}

.breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: .5em;
  font-size: var(--font-size-small);
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs ul > li:before {
  content: none;
}

.breadcrumbs ul > li:nth-child(n+2):before {
  content: " → ";
}

.breadcrumbs ul > li:nth-child(n+2) {
  margin-left: 1em;
}

footer .logo-partners {
  float: right;
}

footer p {
  margin-bottom: 0;
}

ul.simplelist, ul.simplelist > li {
  margin-left: 0;
  padding-left: 0;
  border-bottom: none;
}

ul.simplelist > li:before {
  content: "";
  margin: 0;
}

main img {
  width: 33%;
  float: left;
  margin-right: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  cursor: zoom-in;
  clear: left;
}

main img.full {
  cursor: zoom-out;
}

main img.full,
main audio,
main video {
  max-width: 47.5em;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
}

a.tag {
	font-size: 85%;
	text-transform: uppercase;
	border-bottom: none;
	letter-spacing: 0px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: .5em;
	margin: 1em 0;
	align-items: center;
}

.gallery img {
	float: initial;
	/* width: 25%; */
	vertical-align: middle;
	max-width: 100%;
	margin: 0;
}


.trajectory-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin-bottom: 3em;
}

.trajectory-list section.trajectory--item {
  max-height: 300px;
  overflow: hidden;
  border-bottom: 2px solid;
  background: linear-gradient(transparent 81.2%, var(--font-size-small) 98.5%);
  z-index: 1000;
  background: var(--rose-pale);
  padding: 20px;
}

.programme-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programme-item-list > li {
  border-bottom: 2px solid black;
  padding: 1em;
}

.timecode {
	font-size: 75%;
	border: 1px solid;
	padding: .1em .25em;
	/* margin-right: .5em; */
	/* margin-left: -.5em; */
	letter-spacing: 1px;
  vertical-align: baseline;
  cursor: pointer;
}

.timecode:hover {
  color: var(--red-question);
}

.list-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.question {
	font-family: "Junicode-Condensed";
	font-size: 180%;
	font-weight: bolder;
	line-height: 1em;
}

section.audio {
  border-top: 2 solid black;
  border-bottom: 2 solid black;
}

.programme-item-list li {
  padding-top: 0;
}

.programme-item-list li.list-header {
  padding-top: 1em;
}

.programme-item-list :target:before {
	margin: -3em 0 0;
	height: 3em;
	content: '';
	display: block;
}

.tag {
  text-transform: uppercase;
  font-size: 70%;
}

.tag:target {
  color: var(--orange-karel);
}

.inline-navigation ul li {
	display: inline-block;
}
.inline-navigation ul li:before {
	display: none;
}

.inline-navigation ul {
  margin: 0;
  padding: 0;
}

.inline-navigation {
	margin: -2em 0 1em 0;
	padding: 1em 0;
	position: sticky;
	top: -1em;
	background: white;
	z-index: 1;
}

.inline-navigation ul:before {
	content: "Go to:";
}

.produser-list:target:before,
.trajectory-list:target:before {
  margin: -3.5em 0 0;
	height: 3.5em;
	content: '';
	display: block;
}

.produser-list:target h3,
.trajectory-list:target h3 {
  color: var(--orange-karel);
}