{% extends "base.html" %}
{% load wikify %}

{% block content %}
    <ul id="pads_list" class="manage_list">
        {% for name, folder in tree.folders.items %}
            <li><a href="{% url 'manage' name|addPath:folderPath %}">&#128448; {{ name }}</a></li>
        {% endfor %}
        {% if folderPath %}
            <li><a href="{% url 'pad-create' folderPath|pathString %}">+ create pad</a></li>
        {% else %}
            <li><a href="{% url 'pad-create' %}">+ create pad</a></li>
        {% endif %}
        {% for pad in tree.pads %}
            <li>
              <a data-uid="{{ pad.display_slug }}" href="{% url 'pad-write' slug=pad.display_slug %}" class="pad-link">
                {{ pad.display_slug|stripPath:folderPath|dewikify }}
                {% if pad.is_public %}(public){% endif %}
              </a>
              <section class="actions">
                {% if pad.is_public %}
                    <a href="{% url 'pad-private' pad.pk %}" class="button button--private">make private</a>
                {% else %}
                    <a href="{% url 'pad-public' pad.pk %}" class="button button--public">make public</a>
                {% endif %}
                <a href="{% url 'pad-delete' pad.pk %}" class="button button--delete">delete</a>
              </section>
            </li>
        {% endfor %}
    </ul>
{% endblock %}