{% extends "base.html" %}
{% load ethertoff_tags wikify generator_utils %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
{% endblock %}

{% block title %}
    <header>
    {% if meta.authors %}
        <p class="authors">{{ meta.authors|natural_join:'et' }}</p>
    {% endif %}
    <!-- <h1>
        {{ meta.title.0|default:pad.display_slug }}
    </h1> -->
    </header>
{% endblock %}

{% block content %}
  {% if error %}
  <div id="main">
    <div id="errors">
      <h2>Errors:</h2>
      <p>{{error}}</p>
    </div>
  </div>
  {% else %}
  <section class="pad-list--path">
    <a href="{% url 'manage' %}">root</a>
    {% for name, path in crumbs %}
        {% if not forloop.last %}
        > <a href="{% url 'manage' path|pathString  %}">{{ name }}</a>
        {% else %}
        > {{ name }}
        {% endif %}
    {% endfor %}
  </section>
  <iframe id="ether" src="{{link}}?userName={{uname}}"> </iframe>
  {% endif %}

{% endblock %}

{% block rightside %}
  <div class="syntax-help">
    <u>Markdown cheatsheet</u><br>
    <br>
    Emphasis:<br>
    *italic*<br>
    **bold**<br>
    <br>
    Links:<br>
    &lt;http://www.example.com/&gt;<br>
    [example](http://www.example.com/)<br>
    <br>
    Titles:<br>
    # Header 1<br>
    ## Header 2<br>
    ### Header 3<br>
    <br>
    Linebreaks are not shown by default.<br>
    <br>
    Separate pargraphs with an empty line.<br>
    <br>
    Make a forced linebreak by inserting two spaces at the end of a line.<br>
    <br>
    Blockquoute:<br>
    &gt; Find a place you trust, and then try trusting it for awhile.<br>
    <br>
    Lists:<br>
    - Item<br>
    - List Item<br>
    - Another List Item<br>
    &nbsp;&nbsp;&nbsp;&nbsp;- A sub list is made<br>
    &nbsp;&nbsp;&nbsp;&nbsp;- By inserting four spaces<br>
    <br>
    Numbered lists:<br>
    1. First item<br>
    2. Another item<br>
    3. Item nr. 3<br>
    <br>
    Horizontal line:<br>
    ---<br>
  </div>
{% endblock %}