{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <h1>{% trans "Change your password" %}</h1>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
      <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
          <div class="form-row">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {% for message in form.errors.old_password %}
              <p class="error">{{ message }}</p>
            {% endfor %}
          </div>
          <div class="form-row">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {% for message in form.errors.new_password1 %}
              <p class="error">{{ message }}</p>
            {% endfor %}
          </div>
          <div class="form-row">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {% for message in form.errors.new_password2 %}
              <p class="error">{{ message }}</p>
            {% endfor %}
          </div>
          <div class="form-row">
            <label></label>
            <input class="submit" type="submit" value="{% trans "Change password" %}" />
          </div>
      </form>
    {% else %}
    <p>You are already logged in—welcome!</p>
    {% endif %}
{% endblock %}
